@import "dev-tool-chest-ui/theme.css";

.markdown-body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.markdown-dark {
  color: hsl(var(--foreground));
  background-color: hsl(var(--background));
}

.markdown-light {
  color: hsl(var(--foreground));
  background-color: hsl(var(--background));
}